NearestAutoRepairWebClient/Service References/NearestRepairRef/NearestAutoRepairService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NearestAutoRepairIISHost/NearestAutoRepairService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" />
  <xs:element name="GetAllAutoRepairs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutoRepairsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" minOccurs="0" name="GetAllAutoRepairsResult" nillable="true" type="q1:ArrayOfAutoRepairWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiveNearestAutoRepairs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiveNearestAutoRepairsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" minOccurs="0" name="GetFiveNearestAutoRepairsResult" nillable="true" type="q2:ArrayOfAutoRepairWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestAutoRepair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestAutoRepairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" minOccurs="0" name="GetNearestAutoRepairResult" nillable="true" type="q3:AutoRepairWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geolocation" nillable="true" type="xs:string" />
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="AutoRepairShopInfosList" nillable="true" type="q4:ArrayOfAutoRepairShopInfos" />
</xs:schema>