NearestAutoRepairWebClient/Service References/NearestRepairRef/NearestAutoRepairService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NearestAutoRepairService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_INearestAutoRepairService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/NearestAutoRepairIISHost/NearestAutoRepairService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/NearestAutoRepairIISHost/NearestAutoRepairService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" />
      <xsd:import schemaLocation="http://localhost/NearestAutoRepairIISHost/NearestAutoRepairService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/NearestAutoRepairIISHost/NearestAutoRepairService.svc?xsd=xsd3" namespace="http://MyCompany.com/AutoRepair" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INearestAutoRepairService_GetAllAutoRepairs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAutoRepairs" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetAllAutoRepairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAutoRepairsResponse" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetAllAutoRepairs_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q1:AutoRepairFault" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetFiveNearestAutoRepairs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiveNearestAutoRepairs" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetFiveNearestAutoRepairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiveNearestAutoRepairsResponse" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetFiveNearestAutoRepairs_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q2:AutoRepairFault" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetNearestAutoRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestAutoRepair" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetNearestAutoRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestAutoRepairResponse" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetNearestAutoRepair_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q3:AutoRepairFault" />
  </wsdl:message>
  <wsdl:message name="AutoRepairShopRequest">
    <wsdl:part xmlns:q4="http://MyCompany.com/AutoRepair" name="parameters" element="q4:AutoRepairShopRequestObject" />
  </wsdl:message>
  <wsdl:message name="AutoRepairShopRequest_Headers">
    <wsdl:part name="LicenseKey" element="tns:LicenseKey" />
  </wsdl:message>
  <wsdl:message name="AutoRepairShopInfoList">
    <wsdl:part xmlns:q5="http://MyCompany.com/AutoRepair" name="parameters" element="q5:AutoRepairShopResponse" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetAllAutoRepairsRequest_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q6:AutoRepairFault" />
  </wsdl:message>
  <wsdl:message name="AutoRepairShopInfo">
    <wsdl:part xmlns:q7="http://MyCompany.com/AutoRepair" name="parameters" element="q7:AutoRepairShopInfoObject" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetNearestAutoRepairRequest_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q8:AutoRepairFault" />
  </wsdl:message>
  <wsdl:message name="INearestAutoRepairService_GetFiveNearestAutoRepairRequest_AutoRepairFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" name="detail" element="q9:AutoRepairFault" />
  </wsdl:message>
  <wsdl:portType name="INearestAutoRepairService">
    <wsdl:operation name="GetAllAutoRepairs">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairs" message="tns:INearestAutoRepairService_GetAllAutoRepairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsResponse" message="tns:INearestAutoRepairService_GetAllAutoRepairs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetAllAutoRepairs_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiveNearestAutoRepairs">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairs" message="tns:INearestAutoRepairService_GetFiveNearestAutoRepairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairsResponse" message="tns:INearestAutoRepairService_GetFiveNearestAutoRepairs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairsAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetFiveNearestAutoRepairs_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNearestAutoRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepair" message="tns:INearestAutoRepairService_GetNearestAutoRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairResponse" message="tns:INearestAutoRepairService_GetNearestAutoRepair_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetNearestAutoRepair_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAutoRepairsRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsRequest" name="AutoRepairShopRequest" message="tns:AutoRepairShopRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsRequestResponse" name="AutoRepairShopInfoList" message="tns:AutoRepairShopInfoList" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsRequestAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetAllAutoRepairsRequest_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNearestAutoRepairRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairRequest" name="AutoRepairShopRequest" message="tns:AutoRepairShopRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairRequestResponse" name="AutoRepairShopInfo" message="tns:AutoRepairShopInfo" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairRequestAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetNearestAutoRepairRequest_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiveNearestAutoRepairRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairRequest" name="AutoRepairShopRequest" message="tns:AutoRepairShopRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairRequestResponse" name="AutoRepairShopInfoList" message="tns:AutoRepairShopInfoList" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairRequestAutoRepairFaultFault" name="AutoRepairFaultFault" message="tns:INearestAutoRepairService_GetFiveNearestAutoRepairRequest_AutoRepairFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INearestAutoRepairService" type="tns:INearestAutoRepairService">
    <wsp:PolicyReference URI="#BasicHttpBinding_INearestAutoRepairService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAutoRepairs">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiveNearestAutoRepairs">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNearestAutoRepair">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAutoRepairsRequest">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetAllAutoRepairsRequest" style="document" />
      <wsdl:input name="AutoRepairShopRequest">
        <soap:header message="tns:AutoRepairShopRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AutoRepairShopInfoList">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNearestAutoRepairRequest">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetNearestAutoRepairRequest" style="document" />
      <wsdl:input name="AutoRepairShopRequest">
        <soap:header message="tns:AutoRepairShopRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AutoRepairShopInfo">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiveNearestAutoRepairRequest">
      <soap:operation soapAction="http://tempuri.org/INearestAutoRepairService/GetFiveNearestAutoRepairRequest" style="document" />
      <wsdl:input name="AutoRepairShopRequest">
        <soap:header message="tns:AutoRepairShopRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AutoRepairShopInfoList">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AutoRepairFaultFault">
        <soap:fault use="literal" name="AutoRepairFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NearestAutoRepairService">
    <wsdl:port name="BasicHttpBinding_INearestAutoRepairService" binding="tns:BasicHttpBinding_INearestAutoRepairService">
      <soap:address location="https://tompc/NearestAutoRepairIISHost/NearestAutoRepairService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>