NearestAutoRepairWebClient/Service References/NearestRepairRef/NearestAutoRepairService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NearestAutoRepairService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAutoRepairWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoRepairWCF" nillable="true" type="tns:AutoRepairWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoRepairWCF" nillable="true" type="tns:ArrayOfAutoRepairWCF" />
  <xs:complexType name="AutoRepairWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geolocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoRepairWCF" nillable="true" type="tns:AutoRepairWCF" />
  <xs:complexType name="AutoRepairFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoRepairFault" nillable="true" type="tns:AutoRepairFault" />
  <xs:complexType name="ArrayOfAutoRepairShopInfos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoRepairShopInfos" nillable="true" type="tns:AutoRepairShopInfos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoRepairShopInfos" nillable="true" type="tns:ArrayOfAutoRepairShopInfos" />
  <xs:complexType name="AutoRepairShopInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geolocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoRepairShopInfos" nillable="true" type="tns:AutoRepairShopInfos" />
</xs:schema>